.separatorContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}
.separator {
    width: 33%;
    height: 1px;
    background-color: green;
}