.headerContainer {
    z-index: 10 !important;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.headerMenu {
    position: relative;
    width: 800px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "logoLeft_area nav_area logoRight_area"
        "settings_area settings_area settings_area"
    ;
    border-radius: 0px 0px 4px 0px;
}

.headerMenu-dark {
    background-color: var(--dark-color-tertiary);
    border-bottom: 3px solid var(--dark-color-primary);
}

.headerMenu-light {
    background-color: var(--light-color-tertiary);
    border-bottom: 3px solid var(--light-color-primary);
}

.navbar {
    grid-area: nav_area;
    display: flex;
    justify-content: space-between;
}

.navLinks {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    list-style: none;
    font-size: 1.12rem;
    margin: 0;
    padding: 0;
}

.navLinks a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    transition: 0.2s ease-in-out;
}

.navLinks a:hover {
    transform: scale(1.1);
}

.logo {
    width: 60px;
    margin: auto;
}

.logoLeft {
    text-align: start;
    grid-area: logoLeft_area;
}

.logoRight {
    grid-area: logoRight_area;
}

.utils {
    grid-area: settings_area;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 5;
}

.utilsAnimation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 10px;
}

.diagonal {
    position: absolute;
    content: "";
    width: 300px;
    height: 200px;
    background-color: inherit;
    bottom: -2.8px;
    border-radius: 0px 0px 4px 0px;
}

.diagonalLeft {
    left: 0px;
    transform: rotate(-45deg);
    transform-origin: bottom left;
}

.diagonalLeft-dark {
    background-color: var(--dark-color-tertiary);
    border-left: 3px solid var(--dark-color-primary);
}

.diagonalLeft-light {
    background-color: var(--light-color-tertiary);
    border-left: 3px solid var(--light-color-primary);
}

.diagonalRight {
    right: 0px;
    z-index: -1 !important;
    transform: rotate(45deg);
    transform-origin: bottom right;
}

.diagonalRight-dark {
    background-color: var(--dark-color-tertiary);
    border-right: 3px solid var(--dark-color-primary);
}

.diagonalRight-light {
    background-color: var(--light-color-tertiary);
    border-right: 3px solid var(--light-color-primary);
}

.goUpButtonContainer {
    display: block;
}

.goUpButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10!important;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30px;
    height: 40px;
    padding: 10px 0;
    border-radius: 16px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.goUpButton:hover {
    transform: scale(1.2);
}

.arrow {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.arrow-dark {
    border-bottom: 20px solid var(--dark-color-secondary);
}

.arrow-light {
    border-bottom: 20px solid var(--light-color-secondary);
}

.arrow-stem {
    width: 4px;
    height: 20px;
}

.arrow-stem-dark {
    background-color: var(--dark-color-secondary);
}

.arrow-stem-light {
    background-color: var(--light-color-secondary);
}

.goUpButton-dark {
    background-color: var(--dark-color-primary);
}

.goUpButton-light {
    background-color: var(--light-color-primary);
}

@media (min-width: 768px) and (max-width: 1140px) {
    .headerMenu {
        width: 70%;
    }
}

@media (min-width: 0px) and (max-width: 767px) {
    .headerMenu {
        width: 60%;
    }
    .headerMenu {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "nav_area"
            "settings_area"
        ;
    }
    .navLinks {
        margin: 16px 0;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5px 24px;
    }
    .utils {
        align-items: center;
    }
    
    .logo {
        display: none;
    }
}

@media (min-width: 0px) and (max-width: 492px) {
    .diagonalRight {
        transform: rotate(30deg);
    }
    .diagonalLeft {
        transform: rotate(-30deg);
    }
} 
