.headerContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "logo_area nav_area utils_area";
    border-bottom: 3px solid #008000;
    border-radius: 0px 0px 4px 0px;
    position: relative;
    background-color: black;
    z-index: 10;
    width: 800px;
    margin: auto;
}
.navbar {
    grid-area: nav_area;
    display: flex;
    justify-content: space-between;
}

.logo {
    grid-area: logo_area;
}
.utils {
    grid-area: utils_area;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 5;
}
.utilsAnimation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.diagonal {
    position: absolute;
    content: "";
    width: 300px;
    height: 200px;
    background-color: inherit;
    bottom: -2.8px;
    border-radius: 0px 0px 4px 0px;
    z-index: -1;
}
.diagonalLeft {
    left: 0px;
    transform: rotate(-45deg);
    border-left: 3px solid #008000;
    transform-origin: bottom left;
}
.diagonalRight {
    right: 2px;
    transform: rotate(45deg);
    border-right: 3px solid #008000;
    transform-origin: bottom right;
}

.boxShadow {
    box-shadow: 0px 0px 45px 15px rgba(0,128,0,0.77);
}