.headerContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "logo_area nav_area utils_area";
    border-bottom: 3px solid #008000;
    position: relative;
    background-color: black;
    z-index: 10;
}
.navbar {
    grid-area: "nav_area";
    display: flex;
    justify-content: space-between;
}

.logo {
    grid-area: "logo_area";
}
.utils {
    grid-area: "utils_area";
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.diagonal {
    position: absolute;
    content: "";
    width: 3px;
    height: 200px;
    background-color: #008000;
    bottom: -2px;
    border-radius: 0px 0px 100px 100px;
}
.diagonalLeft {
    left: 0px;
    transform: rotate(-45deg);
    transform-origin: bottom;
}
.diagonalRight {
    right: 0px;
    transform: rotate(45deg);
    transform-origin: bottom;
}