#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 140px;
    margin: auto;
}

.cardContainer {
    width: 100%;
    /* box-shadow: 0px 0px 30px 10px rgba(0,128,0,0.77); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5vh 0;
    overflow: hidden;
}
.cardContainer-dark {
    background-color: var(--dark-color-tertiary);
}
.cardContainer-light {
    background-color: var(--light-color-tertiary);
}
.border-radius-img-right {
    border-radius: 20px 10px 0 100px;
}
.border-radius-img-left {
    border-radius: 10px 20px 100px 0;
}
.row-reverse {
    flex-direction: row-reverse;
}

.infoProjectContainer {
    margin: 0 5%;
    transition: opacity 1s ease-in-out;
    transition-delay: 0.35s;
    width: 33.3%;
}
.imgProjectContainer {
    width: 60%;
    overflow: hidden;
    border-radius: 10px;
}
.imgProjectAnimation-right {
    margin-right: 16px;
    animation: initialPosition-right 0.4s ease-in-out;
}
.imgProjectAnimation-left {
    margin-left: 16px;
    animation: initialPosition-left 0.4s ease-in-out;
}
.imgProjectContainer a img {
    width: 100%;
    transition: 0.2s ease-in-out;
}
.imgProjectContainer a img:hover {
    transform: scale(1.2);
}

.projectTitle {
    font-size: 1.8rem;
}
.projectTitle-dark {
    border-bottom: 2px solid var(--dark-color-primary);
}
.projectTitle-light {
    border-bottom: 2px solid var(--light-color-primary);
}

.techsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px 20px;
    margin: 50px 0;
}
.techsContainer p {
    padding: 10px 20px;
    border-radius: 40px 20px;
    margin: 0;
}
.techsContainer-dark p {
    border: 1px dashed var(--dark-color-primary);
}
.techsContainer-light p {
    border: 1px dashed var(--light-color-primary);
}

@keyframes initialPosition-right {
    0% {
        transform: translateX(300%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes initialPosition-left {
    0% {
        transform: translateX(-300%);
    }
    100% {
        transform: translateX(0);
    }
}

.invisible {
    opacity: 0;
}