#myDialog {
    border-radius: 5px;
}
#myDialog form {
    margin: auto;
}
.myDialog-dark {
    color: var(--dark-color-primary);
    background-color: var(--dark-color-tertiary);
    border: 2px solid var(--light-color-secondary);
}
.myDialog-light {
    color: var(--light-color-primary);
    background-color: var(--light-color-tertiary);
    border: 2px solid var(--dark-color-secondary);
}
.option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}