body {
    font-family: 'Fira Code', monospace;
}

:root {
    --dark-color-primary: #008000;
    --dark-color-secondary: #101412;
    --dark-color-tertiary: black;
    --light-color-primary: #3F290B;
    --light-color-secondary: #FFC26F;
    --light-color-tertiary: #FFD7A2;
}