body {
    font-family: 'Fira Code', monospace;
}

:root {
    --dark-color-primary: #008000;
    --dark-color-secondary: #101412;
    --dark-color-tertiary: black;
    --light-color-primary: #0056de;
    --light-color-secondary: #cdffff;
    --light-color-tertiary: #00c1ff;
}